<footer class="footer">
  <small>
    ENTOMOLOGIST by
	<a href="http://www.ventureinteractive.com">Venture Interactive</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "VI",   '#' %></li>
    </ul>
  </nav>
</footer>